@media (max-width:630px){


/* Reset margin and padding */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
}



/* Body styling */
body {
    font-family: Arial, sans-serif;
    
background: linear-gradient(to bottom, #0A0F1E, #000000);
   
    background-size: cover;
justify-content: center; 
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    background-position: center;
    background-size: auto;
}


h3.writing{
    text-align: center;
    font-family:'Times New Roman';
font-weight: 700; /* 700 = bold */
background-color: #c5cbd2;
width: 100%;
color: rgb(7, 112, 234);
border-radius: 10px;

}

img {
    cursor: pointer;
   width: 100%;
   padding: 5px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    transition: transform 0.3s ease;

}
img:hover{

    transform: scale(1.1);
}
.firstRow{
    padding: 10px;
    margin: 10px;
    display: flex;
        transition: transform 0.3s ease;

}

img.land {
    width: 95%;
    margin-left: 20px;
    height: auto;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    transition: transform 0.3s ease;

}

header{

    display: flex;
    width: 90%;
    height: 100%;
    background: #003791;
    background-repeat: no-repeat;
    background-position: 100% 0%;
    color: #E0F2F1;
    text-shadow: black 5px 5px 10px;
    text-align: center;
    justify-content: space-between;
    padding: 20px;
    margin: 20px;
    border-radius: 10px;
     font-family: 'Poppins', 'Times New Roman';
font-weight: 700; /* 700 = bold */
font-size: larger;
}

div.fullBody{
display: grid;
    grid-template-columns: repeat(2, 1fr); /* 4 items per row */
    gap: 20px; /* Space between the items */
    width: 100%;

}
  
}



@media (min-width:630px){


/* Reset margin and padding */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
}

div.fullBody{
display: grid;
    grid-template-columns: repeat(2, 1fr); /* 4 items per row */
    gap: 20px; /* Space between the items */
    width: 100%;

}


div.item   {
  width: 150%;
  margin-left: 20px;
}

h3.writing{
    text-align: center;
    font-family:'Times New Roman';
font-weight: 700; /* 700 = bold */
background-color: #c5cbd2;
width: 50%;
color: rgb(7, 112, 234);
border-radius: 10px;
 
}

.fix{
    margin-left: 20px;
}

img {
    cursor: pointer;
   width: 50%;
   padding: 5px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    transition: transform 0.3s ease;

}
img:hover{

    transform: scale(1.1);
}
.firstRow{
    padding: 10px;
    margin: 10px;
        transition: transform 0.3s ease;

}

img.land {
    width: 50%;
    margin-left: 20px;
    height: auto;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    transition: transform 0.3s ease;

}

header{

    display: flex;
    width: 90%;
    height: 100%;
    background-color: #003791;
    background-repeat: no-repeat;
    background-position: 100% 0%;
    color: #E0F2F1;
    text-shadow: black 5px 5px 10px;
    text-align: center;
    justify-content: space-between;
    padding: 20px;
    margin: 20px;
    border-radius: 10px;
     font-family: 'Poppins', 'Times New Roman';
font-weight: 700; /* 700 = bold */
font-size: larger;
}


  
}

body{
background: linear-gradient(to bottom, #0A0F1E, #000000);
}